{% extends 'pages/base.html' %}

{% block SEO %}
<meta name="discription" content="Інформація щодо доставки та оплати причепів на заводі MAG Trailer">
<meta name="keywords" content="маг, mag, mag trailer, доставка, оплата">
<meta name="robots", content="index,follow">
{% endblock %}

{% block content %}
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Доставка і оплата в магазині MAG Trailer:</h1>
        </div>
    </div>
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <p><h3><center>&#128666;Доставка:</center></h3></p>
                            <p><h4>1. Самовивіз.</h4></p>
                            <ul>
                                <li>Замовлення можна забрати з заводу, в робочий час, за попередньою домовленністю</li>
                                <li>Адреса заводу: м. Запоріжжя, Прибережна автомагістраль, 1</li>
                            </ul>
                            <p><h4>2. Транспортна компанія САТ:</h4></p>
                                <ul>
                                <li>Доставка можлива по повній або частковій передоплаті (вартість дороги в обидва кінці)</li>
                                <li>Вартість доставки прораховується індивідуально та залежить від міста призначення</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <p><h3><center>&#128184;Оплата:</center></h3></p>
                            <p><h4>1. При самовивозі:</h4></p>
                            <ul>
                                <li>Готівковий розрахунок</li>
                                <li>Приват24</li>
                                <li>За рахунком-фактурою</li>
                            </ul>
                            <p><h4>2. При доставці тк "САТ":</h4></p>
                            <ul>
                                <li>Наложений платіж. Причіп відправляється за передоплатою у розмірі дороги в оба кінці.
                                Залишок оплачується готівкою беспосередньо при отриманні. Враховуйте комісію перевізника!</li>
                                <li>Повна передоплата на картку, або за рахунком-фактурою на рахунок підприємства</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
