{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
 <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <h1><a class="h2 pb-4" href="#">Всі причепи</h1>
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        {% for c in cat %}
                        <a class="nav-link" href="#">
                            {{c}}
                        </a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">

                <div class="row">
                    {% for p in products %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="assets/img/shop_09.jpg">
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none"><center>{{ p.name }}</center></a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li><strong>{{ p.availability }}</strong></li>
                                </ul>
                                <p class="text-center mb-0">{{ p.price }} грн.</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


                <div div="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}