{% extends 'pages/base.html' %}

{% block content %}
 <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                {% if not cat_selected %}
                    <h2>Всі причепи</h2>
                {% else %}
                    <a class="nav-link" href="{% url 'all_categories' %}">Всі причепи</a>
                {% endif %}
                        {% load pages_tags %}
                        {% getcats as categories %}
                        {% for c in categories %}
                            {% if c.id == cat_selected %}
                                <h2>{{c.name}}</h2>
                            {% else %}
                                <a class="nav-link" href="{{ c.get_absolute_url }}">
                                    {{ c.name }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">

                <div class="row">
                    {% for p in products %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                {% if p.image %}
                                <a href="{{ p.get_absolute_url }}"><img class="card-img rounded-0 img-fluid" src="{{p.image.url}}"></a>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <a href="{{ p.get_absolute_url }}" class="h3 text-decoration-none"><center>{{ p.name }}</center></a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li><strong>{{ p.availability }}</strong></li>
                                </ul>
                                <p class="text-center mb-0">{{ p.price }} грн.</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}