{% extends 'pages/base.html' %}
{% load static %}

{% block SEO %}
    <meta name="discription" content="Ми - офіційний виробник легкових причепів MAG | ☎ (073) 304-18-27 | Виготовляємо одноосні, двохосні, човнові та спецпричепи ✔ Причепи у місті Запоріжжі">
    <meta name="keywords" content="MAG, МАГ, завод MAG Trailer, причепи в Запоріжжі">
    <meta name="robots", content="index,follow">
{% endblock %}

{% block content %}
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'pages/images/banner_img_01.png' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h3 class="h2">
                                    <center>Вас вітає завод із виготовлення причепів MAG Trailer, м. Запоріжжя.</center>
                                </h3>
                                <p>
                                    <p>
                                    Ми займаємося виробництвом легкових причепів лише найвищої якості. Одновісні,
                                    двовісні причепи, з гальмами та без, бортові та лафети, в наявності та на замовлення
                                    - у нас Ви знайдете те, що потрібно саме Вам.
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner_img_02.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h3 class="h2"><center>ВСІ наші причепи сертифіковані від світлотехніки до останнього
                                    гвинтика і регулярно проходять перевірку якості.</center></h3>
                                <p>
                                    <p>
                                    Використовуються лише фірмові німецькі комплектуючі (ми є офіційними представниками
                                Al-ko та Knott у регіоні). Усі причепи з гарантією <strong>18 місяців</strong> з дати
                                продажу не на словах, а на ділі.
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner_img_03.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h3 class="h2"><center>Якщо Вам потрібен міцний, якісний причіп – телефонуйте нам, ми з
                                    радістю проконсультуємо та допоможемо його підібрати.</center></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->

    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">НАШІ ПРИЧЕПИ:</h1>
            </div>
        </div>
        <div class="row">
            {% load pages_tags %}
            {% getcats as categories %}
            {% for c in categories %}
            <div class="col-12 col-md-4 p-5 mt-3">
                {% if c.image %}
                <a href="{{ c.get_absolute_url }}"><img src="{{c.image.url}}" class="rounded-circle img-fluid border"></a>
                {% endif %}
                <h5 class="text-center mt-3 mb-3">{{c.name}}</h5>
                <p class="text-center"><a class="btn btn-success" href="{{ c.get_absolute_url }}">До розділу</a></p>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Categories of The Month -->
{% endblock %}