{% extends 'pages/base.html' %}


{% block content %}
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{{product.image.url}}" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row">
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        {% for p in photos %}
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{p.image.url}}">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!--/.First slide-->
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{product.name}}</h1>
                            <p class="h3 py-2">{{product.price}} грн. </p>
                            <h6>Опис:</h6>
                            <p>{{product.description}}</p>

                            <h6>Характеристики:</h6>
                            <ul class="list-unstyled pb-3">
                                <li>Довжина кузова: {{product.length}} мм</li>
                                <li>Ширина кузова: {{product.width}} мм</li>
                                <li>Висота борту: {{product.height}} мм</li>
                                <li>Повна маса: {{product.full_weight}} кг</li>
                                <li>Випробовувана вантажопід'ємність: {{product.max_weight}} кг</li>
                            </ul>
                            <p><strong><h3>{{product.availability}}</h3></strong></p>

                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">

                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Замовити</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->
{% endblock %}