{% extends 'pages/base.html' %}

{% block SEO %}
    <meta name="discription" content="Купити {{product.name}} від заводу MAG Trailer">
    <meta name="keywords" content="Причіп, mag, mag trailer, виробництво причепів">
    <meta name="robots", content="index,follow">
{% endblock %}

{% block content %}
    <!-- Open Content -->
<div class="container-fluid bg-light py-5">
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{{product.image.url}}" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row">
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <div class="carousel-inner product-links-wap" role="listbox">
                                <div class="carousel-item active">
                                    <div class="row">
                                        {% for p in photos %}
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{p.image.url}}">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{product.name}}</h1>
                            <h6>Опис:</h6>
                            <p>{{product.description}}</p>

                            <h6>Характеристики:</h6>
                            <ul class="list-unstyled pb-3">
                                <li>Довжина кузова: {{product.length}} мм</li>
                                <li>Ширина кузова: {{product.width}} мм</li>
                                <li>Висота борту: {{product.height}} мм</li>
                                <li>Повна маса: {{product.full_weight}} кг</li>
                                <li>Випробовувана вантажопід'ємність: {{product.max_weight}} кг</li>
                            </ul>
                            <p><strong><h3>{{product.availability}}</h3></strong></p>
                            <p class="h3 py-2"><h5>Ціна: {{product.price}} грн.</h5></p>
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        {% csrf_token %}
                                        {{ form }}
                                        {% if product.availability == 'Під замовлення' %}
                                        <input type="submit" class="btn btn-success btn-lg" value="Замовити">
                                        {% else %}
                                        <input type="submit" class="btn btn-success btn-lg" value="Купити">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    <!-- Close Content -->
{% endblock %}