{% extends "pages/base.html" %}
{% block title %}
  Корзина покупок
{% endblock %}

{% block content %}
{% if not cart %}

        <div class="container py-5">
            <div class="row">
                <div class="col-lg-7 mt-5">
                    <center>
                        <p><h2>У кошику пусто :( </h2></p>
                        <p><h2>Можливо, Ви знайдете щось у нашому</h2> <a href="{% url 'all_categories' %}"><h2>каталозі</h2></a></p>
                    </center>
                </div>
            </div>
        </div>

{% else %}

    <div class="container py-5">
        <table class="cart">
            <thead>
                <tr>
                    <th></th>
                    <th><center>Товар</center></th>
                    <th><center>Ціна</center></th>
                    <th>Кількість</th>
                    <th><center>Сума</center></th>
                </tr>
            </thead>
            <div>
                <tbody>
                {% for item in cart %}
                {% with product=item.product %}
                <tr>
                    <td>
                        {% if product.image %}
                        <img src="{{product.image.url}}" class="rounded-circle img-fluid border" width="120" height="100">
                        {% endif %}
                    </td>
                    <td><center><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></center></td>
                    <td class="num"><strong>{{ item.price }}</strong></td>
                    <td>
                        <center>
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input type="submit" value="&#10004;">
                            {% csrf_token %}
                        </form>
                        </center>
                    </td>
                    <td class="num"><strong>{{ item.total_price }}</strong></td>
                    <td></td>
                    <td><a href="{% url 'cart:cart_remove' product.id %}">&#10006;</a></td>
                </tr>
                {% endwith %}
                {% endfor %}
                </tbody>
            </div>
        </table>
    </div>

        <p class="text-right">
            <div class="row pb-3">
                <div class="col d-grid">
                    <center><p><h3>{{ cart.get_total_price }} грн.</h3></p></center>
                    <a href="{% url 'orders:order_create' %}">
                        <button type="submit" class="btn btn-success btn-lg px-3"> Оформити замовлення </button>
                    </a>
                </div>
                <div class="flex-fill">
                    <a class="nav-link" href="{% url 'all_categories' %}"> Назад до каталогу </a>
                </div>
            </div>
        </p>

{% endif %}
{% endblock %}